 /* . for class */
/* # for id  */

section {
    background-color: lightblue;
}

p {
    font-size: 20px;
    text-align: center;
}

.nav {
    color: black;
    text-emphasis: bold;
    font-size: 50px;
}

/* index */

/* data */

/* city_table */

/* comparison */


/* Different size screens */
@media (max-width: 600px) {
    .box-1 {
        background: pink;
    }
}

